* {
  box-sizing : border-box;
  font-family: Poppins-Regular;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html {
  background-image: url(assets/background.jpg);
   background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
  width: 20px;
  margin-right: 10px;
}
a {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: black;
}
a:hover {
  color: #C62DF7;
}
p {
  font-size: 14px;
}
h1 {
  font-size: 39px;
  font-family: poppins-bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}
button{
  width: 100%;
  padding: 15px 0px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin: 20px 0;
  color: white;
  font-weight: bold;
  background: rgb(29,161,242);
    background: linear-gradient(90deg, rgba(29,161,242,1) 10%, rgba(59,89,152,1) 39%, rgba(59,89,152,1) 39%, rgba(231,19,253,1) 100%);
    
}
button:hover {
    transition: 5s;

    background: linear-gradient(90deg, rgba(231,19,253,1) 10%, rgba(59,89,152,1) 39%, rgba(59,89,152,1) 40%, rgba(29,161,242,1) 100%);

}

body {
  display: flex;
  
}

form {
  min-width: 100%;
  padding: 15px;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
input{
  border: none;
  outline: none;
}
input[type=email] {
    width: 100%;
    padding-left: 20px;  
}
input[type=password] {
    width: 100%;
    padding-left: 20px;  
}
.login {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 55px;
}
.type {
  border-bottom: 2px solid #ccc;
}

.login-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login-input p {
  margin: 10px 0;
}
.login-input-sect {
  margin:5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.login-input-sect #name {
    width: 30px;
    margin: 0px;
}
p.forgot {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 10px 0;
}
.login .other-signs {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.login .other-signs p {
  font-size: 16px;
  margin: 10px;
}
  .login .other-sign-method p {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
.login .other-signs img {
  margin: 10px 5px;
  width: 50px;
}
.login .sign-up {
  margin-top: 30px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.login .sign-up p {
  padding: 10px 0;
}